<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hpu.fyx.model.Question">
    <resultMap type="Question" id="QuestionMap">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="chapterName" property="chapter"/>
        <result column="chapter_id" property="chapterId"/>
    </resultMap>
    
    <select id="queryQuestion" parameterType="Map" resultMap="QuestionMap">
        <![CDATA[
            SELECT question.id, question.title, question.description, new_chapter.title AS chapterName FROM question
 	JOIN (SELECT id, title FROM chapter WHERE id = ${chapterId}) AS new_chapter
	WHERE question.chapter_id = ${chapterId} and question.title like concat(concat('%',#{searchContent}),'%') limit ${startIndex}, ${pageSize};
        ]]>
    </select>
    
    <select id="getQuestionCount" resultType="int" parameterType="map">
        <![CDATA[
            SELECT count(*) AS questionCount FROM question WHERE chapter_id = ${chapterId} and title like concat(concat('%',#{searchContent}),'%');
        ]]>
    </select>
    
    <select id="getDailyTask" resultMap="QuestionMap" parameterType="int">
        <![CDATA[
            SELECT task.question_id AS id, newQuestion.question_title AS title, newQuestion.description, newQuestion.chapterName FROM task 
            JOIN (SELECT question.id AS questionId, question.title AS question_title, question.description, chapter.title as chapterName FROM question 
            JOIN chapter where chapter.id = question.chapter_id) 
            AS newQuestion 
            ON newQuestion.questionId = task.question_id 
            WHERE task.task_time=curdate() AND task.student_id = #{id};
        ]]>
    </select>
    
     <select id="insertSignIn" resultType="int" parameterType="int">
        <![CDATA[
            INSERT INTO sign_in(student_id, sign_in_datetime, sign_in_status) VALUES (#{userId}, NOW(), 1);
        ]]>
    </select>
    
    <select id="querySignIn" resultType="int" parameterType="int">
        <![CDATA[
            SELECT count(*) FROM sign_in WHERE student_id = #{id} AND sign_in_datetime like concat(curdate(), '%');
        ]]>
    </select>
    
    <select id="showAQuestion" resultMap="QuestionMap" parameterType="int">
        <![CDATA[
            SELECT * FROM question WHERE id = #{questionId};
        ]]>
    </select>
    
    <select id="updateQuestion" resultType="int" parameterType="com.hpu.fyx.model.Question">
        <![CDATA[
            UPDATE question SET chapter_id = #{chapterId}, title = #{title}, description=#{description} WHERE id = #{id}; 
        ]]>
    </select>
    
     <select id="deleteQuestion" resultType="int" parameterType="int">
        <![CDATA[
            DELETE FROM question WHERE id = #{questionId} ;
        ]]>
    </select>
    
     <select id="addQuestion" resultType="int" parameterType="com.hpu.fyx.model.Question">
        <![CDATA[
            INSERT INTO question(chapter_id, title, description) VALUES (#{chapterId}, #{title}, #{description}); 
        ]]>
    </select>
    
     <select id="getAllQuestionList" resultMap="QuestionMap" parameterType="int">
        <![CDATA[
            SELECT question.id, question.title, question.description, new_chapter.title AS chapterName FROM question
 	JOIN (SELECT id, title FROM chapter WHERE id = #{chapterId}) AS new_chapter
	WHERE question.chapter_id = #{chapterId}; 
        ]]>
    </select>
</mapper>