<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

     <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
           <list>
                <value>classpath:app.properties</value>
           </list>
        </property>
    </bean>
    
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="maxPoolSize" value="20" />
        <property name="minPoolSize" value="5" />
        <property name="acquireIncrement" value="3" />
        <property name="initialPoolSize" value="5"></property>
    </bean>
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="typeAliasesPackage" value="com.hpu.fyx.model"></property>
        <property name="mapperLocations" value="classpath*:com/hpu/fyx/model/mysql/*Mapper.xml" />
    </bean>
	
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>
    
    <bean id="baseDao" abstract="true">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
    </bean>
    
    <bean id="userDao" class="com.hpu.fyx.daoImpl.UserDaoImpl" parent="baseDao" />
    <bean id="studentDao" class="com.hpu.fyx.daoImpl.StudentDaoImpl" parent="baseDao"/>
    <bean id="teacherDao" class="com.hpu.fyx.daoImpl.TeacherDaoImpl" parent="baseDao"/>
    <bean id="adminDao" class="com.hpu.fyx.daoImpl.AdminDaoImpl" parent="baseDao"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="delete*" propagation="REQUIRED" read-only="false" rollback-for="com.zhengmenbb.book.exception.ParameterException"/>
            <tx:method name="add*" propagation="REQUIRED" read-only="false" rollback-for="com.zhengmenbb.book.exception.ParameterException"/>
            <tx:method name="update*" propagation="REQUIRED" read-only="false" rollback-for="com.zhengmenbb.book.exception.ParameterException"/>
            <tx:method name="save*" propagation="REQUIRED" read-only="false" rollback-for="com.zhengmenbb.book.exception.ParameterException"/>
            <tx:method name="*" propagation="SUPPORTS" read-only="true" />
        </tx:attributes>
    </tx:advice>
    
    <aop:config>
        <aop:pointcut id="pc" expression="execution(* com.hpu.fyx.service..*.*(..))" />
        <aop:advisor pointcut-ref="pc" advice-ref="txAdvice" order="1" />
    </aop:config>
      
    <bean id="userService" class="com.hpu.fyx.serviceImpl.UserServiceImpl" >
       <property name="userDao" ref="userDao" />
    </bean>
    
     <bean id="adminService" class="com.hpu.fyx.serviceImpl.AdminServiceImpl" >
       <property name="adminDao" ref="adminDao" />
    </bean>
    
     <bean id="studentService" class="com.hpu.fyx.serviceImpl.StudentServiceImpl" >
       <property name="studentDao" ref="studentDao" />
    </bean>
    
     <bean id="teacherService" class="com.hpu.fyx.serviceImpl.TeacherServiceImpl" >
       <property name="teacherDao" ref="teacherDao" />
    </bean>
    
    <bean id="userController" class="com.hpu.fyx.controller.UserController" >
       <property name="userService" ref="userService" />
    </bean>
    
    <bean id="adminController" class="com.hpu.fyx.controller.AdminController" >
       <property name="adminService" ref="adminService" />
    </bean>
    
    <bean id="studentController" class="com.hpu.fyx.controller.StudentController" >
       <property name="studentService" ref="studentService" />
    </bean>
    
     <bean id="teacherController" class="com.hpu.fyx.controller.TeacherController" >
       <property name="teacherService" ref="teacherService" />
    </bean>
    
    <bean class="com.hpu.fyx.utils.SpringUtil"></bean>
</beans>